@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
    font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    box-sizing: border-box;
  }
  
  .App {
    padding: 30px;
  }
  
  body,html {
    background-color: #E5E5E5;
  }

  .container-header {
    max-width: 100%;
    margin-bottom: 1rem;
  }

  .container-header img {
    width: 100%;
   
  }
  
  /* .pokemon-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  
  .col{
    width: 100%;
    padding: 20px;
  } */

  input {
    border-radius: 20px;
    width: 40%;
    height: 30px;
    background-color: #062226;
    color: #FBFBFB;
    margin-right: .5rem;
  }

  .container-box-general-info {
    width: 100%;
    background-color: #062226;
    color: #FBFBFB;
    display: flex;
    justify-content: center;
    gap: .5rem;
    padding: 1rem 1rem 0 1rem;
    margin-top: 1rem;
  }

  .container-box-general-info span {
    color: darkgrey;
  }

  .residen-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 0;
    list-style: none;
  }
  
  .resident-card {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 10px;
    height: 100%;
    background-color: #062226;
  }

  .resident-card-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:baseline;
    color: #FBFBFB;
    font-size: 18px;    
  }

  .resident-card-info h3 {
    margin: 0;
    padding: .2rem;
  }

  .resident-card-info p {
    margin: 0;
    padding: .2rem;
  }

  .resident-card-info span {
    color: darkgrey;
  }

  .container-line {
    width: 100%;
    
  }

  
  .card-image img{
    width: 100%;
    height: 100%;
    
  }
  
  .card img {
    width: 150px;
  }
  
  .card ul {
    list-style: none;
  }
  
  .quote {
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    padding: 30px;
  }
  
  .emoji {
    font-size: 50px;
  }
  
  /* @media (min-width: 500px) {
    .col{
      width: 50%;
    }
  }
  
  @media (min-width: 765px) {
    .col{
      width: 33.3333%;
    }
  }
  
  @media (min-width: 992px) {
    .col{
      width: 25%;
    }
  } */
  
  @media (min-width: 576px) {
    .residen-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 792px) {
    .residen-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 992px) {
    .residen-list {
      grid-template-columns: repeat(4, 1fr);
    }

    .container-box-general-info {
        width: 100%;
        background-color: rgb(57, 55, 55);
        color: #FBFBFB;
        display: flex;
        justify-content: center;
        gap: 4rem;
        padding: 1rem 1rem 0 1rem;
        margin-top: 1rem;
      }
  }
  