@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
    font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
   box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    
  }
  
  .App {
        background:#06261c96;
        height: auto;
        width: 100vw;
        display: flex;
        flex-direction: column;
  }
  

  .container-header {
    width: 100%;
     height: 30vmax;
    overflow: hidden;    
    
  }

  .container-input{
    display: flex;
    padding: 20px;
    gap: 5px;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
  }
 .container-input input{
  height: 30px;
  border-radius: 20px 0 0 20px;
text-align: center;
 }

 .container-input button{
  width: 100px;
  border-radius: 0 20px 20px 0;
  background: gray;
  color: white;
 }
  .imagenfondo{
width: 130%;
height: 50vmax;

  }

  .imgdefault{
    width: 90%;
    margin: auto;
    border-radius: 10px;
  }

  .itenfilter{
    text-align: center;

  }
  .container-box-general-info{
    color: white;
    display: flex;
    flex-direction: column;
    width: 86%;
    margin: auto;
  }
  .filter-barra{
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 3.5rem;
    background-color: #062226;
    align-items: center;
  }
 .contenedor-filter-name{
  background-color: #062226;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
  .item-name{
    text-align: center;
    font-size: 3.5vmax; 
    
  }

  .residen-list{
    width: 90%;
    height: auto;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin: 0 auto;
  }
  .resident-card {
    width: 300px;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
    background-color: #062226;
    box-shadow: 2px 2px 8px white;
  
  }

  h3{
    text-align: center;
  }
  .card-image{
    width: 90%;
    margin: auto;
    border-radius: 10px;
  }
  .resident-card-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
/*
  input {
    border-radius: 20px;
    width: 40%;
    height: 30px;
    background-color: #062226;
    color: #FBFBFB;
    margin-right: .5rem;
  }

  .container-box-general-info {
    width: 100%;
    background-color: #062226;
    color: #FBFBFB;
    display: flex;
    justify-content: center;
    gap: .5rem;
    padding: 1rem 1rem 0 1rem;
    margin-top: 1rem;
  }

  .container-box-general-info span {
    color: darkgrey;
  }

  .residen-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 0;
    list-style: none;
  }
  
  .resident-card {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 10px;
    height: 100%;
    background-color: #062226;
  }

  .resident-card-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:baseline;
    color: #FBFBFB;
    font-size: 18px;    
  }

  .resident-card-info h3 {
    margin: 0;
    padding: .2rem;
  }

  .resident-card-info p {
    margin: 0;
    padding: .2rem;
  }

  .resident-card-info span {
    color: darkgrey;
  }

  .container-line {
    width: 100%;
    
  }

  
  .card-image img{
    width: 100%;
    height: 100%;
    
  }
  
  .card img {
    width: 150px;
  }
  
  .card ul {
    list-style: none;
  }
  
  .quote {
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    padding: 30px;
  }
  
  .emoji {
    font-size: 50px;
  }

  .no-residents img{
    width: 400px;
    
  }
  
  /* @media (min-width: 500px) {
    .col{
      width: 50%;
    }
  }
  
  @media (min-width: 765px) {
    .col{
      width: 33.3333%;
    }
  }
  
  @media (min-width: 992px) {
    .col{
      width: 25%;
    }
  } 
  
  @media (min-width: 576px) {
    .residen-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 792px) {
    .residen-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 992px) {
    .residen-list {
      grid-template-columns: repeat(4, 1fr);
    }

    .container-box-general-info {
        width: 100%;
        background-color: rgb(57, 55, 55);
        color: #FBFBFB;
        display: flex;
        justify-content: center;
        gap: 4rem;
        padding: 1rem 1rem 0 1rem;
        margin-top: 1rem;
      }
  }
  */